body {
    font-family: 'PlayStation', sans-serif;
}
@font-face {
    font-family: 'PlayStation';
    src: url('https://fonts.cdnfonts.com/css/playstation') format('woff2');
    font-weight: 200;
    font-style: normal;
}
@media (min-width: 992px) {
    .ratio-lg-18-9 {
        --bs-aspect-ratio: 50%; 
    }
}

/* ====================================
Header
==================================== */
.bg-new-releases {
    background-color: rgb(31, 31, 31);
}


/* ====================================
Header
==================================== */
.sony-logo {
    height: 30px;
}
.sony-logo img {
    height: 15px;
}

/* ====================================
CTA btn
==================================== */
.cta-btn {
    width: 120px;
    color: white;
}

/* ====================================
Thumb hover DA INSERIRE lo faccio dopo
==================================== */


/* ====================================
Immagini
==================================== */


/* ====================================
PS5 Active
==================================== */
.ps-hardwares div:first-child {
    opacity: 1 !important;
    border-bottom: 2px solid #0070d1 !important;

}