body {
    font-family: 'PlayStation', sans-serif;
}

/* ====================================
Header
==================================== */
.sony-logo {
    height: 30px;
}
.sony-logo img {
    height: 15px;
}